<div class="box-comment">
  <!-- User image -->
  <%= image_tag("unknown_user.png", alt: "User Image", class: "img-circle img-sm") %>
  <div class="comment-text">
        <span class="name">
          <%= comment.name %>
          <span class="text-muted pull-right"><%= comment.created_at.strftime("%d-%m-%Y %H:%M") %></span>
        </span><!-- /.username -->
    <%= comment.comment_text %>
  </div>
  <!-- /.comment-text -->
</div>
