<!-- Start slider  -->
<section id="mu-slider">
  <div class="mu-slider-area"> 
    <!-- Top slider -->
    <div class="mu-top-slider">
      <!-- Top slider single slide -->
      <div class="mu-top-slider-single">
        <%= image_tag("slider/4.jpg", alt: "Up restaurant") %>
        <!-- Top slider content -->
        <div class="mu-top-slider-content">
          <div class="mu-title">
            <span class="mu-slider-small-title" style="color:#BBB">Get In Touch</span>
            <h2 class="mu-slider-title">Contact Us</h2>
            <span class="mu-title-bar"></span>
          </div>
        </div>
        <!-- / Top slider content -->
      </div>
      <!-- / Top slider single slide -->
</section>
<!-- End slider  -->