<%= render 'home/menu_slider' %>
<!-- Start Restaurant Menu -->
<section id="mu-restaurant-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-restaurant-menu-area">
          <div class="mu-title">
            <span class="mu-subtitle">Menu</span>
          </div>
          <div class="mu-restaurant-menu-content">
            <ul class="nav nav-tabs mu-restaurant-menu">
              <% @sections.each do |section| %>
                <li><%= link_to section.name, "#", "data-target": "\##{section.name}",
                        class: "nav-link" %></li>
              <% end %>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <% Section.all.each do |section| %>
                <div class="tab-pane fade in" id="<%= section.name %>">
                  <div class="mu-tab-content-area">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mu-tab-content-left">
                          <ul class="mu-menu-item-nav">
                            <li>
                              <% for i in 0..5 %>
                                <div class="media">
                                  <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" src="assets/img/menu/item-1.jpg" alt="img">
                                    </a>
                                  </div>
                                  <div class="media-body">
                                    <h4 class="media-heading"><a href="#">English <%= section.name %></a></h4>
                                    <span class="mu-menu-price">$15.85</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.</p>
                                  </div>
                                </div>
                              <% end %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End #{section.name} tab -->
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Restaurant Menu -->
