<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @food_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food_item.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @food_item.image_url %>
</p>
